* {
    margin: 0;
    padding: 0;
}

.header{
    background-image: url('./assets/header2.png');
    background-size: cover;
    background-position: center;
    height: 60vh;
    width:100vw;
   

}

.team-2 img {
    border-radius: 10rem;
    margin-bottom: 2rem;
    height:15vh;
}

